<div style="margin-left: 160px;margin-right: 160px;">
  <div style="padding-top: 15px; " class="row col-sm-12">
<div class="col-sm-2 ">

<img src="../../assets/images/swgy_text_clean.PNG" width="150px" height="50px"/>
</div>
    <div class="col-sm-2 col-sm-offset-6 text-center "
         style="font-family: AvenirNextPro,Helvetica Neue,Helvetica,Arial,san-serif;font-size: 12px;color: #f5861f;
          margin-top: 20px;margin-left:450px; padding-left: 0px; width:100px; padding-right: 0px">We are Hiring</div>
    <div class="col-sm-1"
         style="font-family: AvenirNextPro,Helvetica Neue,Helvetica,Arial,san-serif;font-size: 12px;
          margin-top: 20px; padding-left: 0px;padding-right: 0px; width: 60px">Get app:
    </div>
    <div class="col-sm-1" style="margin-left: 0px;padding-left: 0px ;margin-right: 0px;padding-right: 0px; width:50px">
      <i class="fa fa-android" aria-hidden="true" style="font-size: 20px;margin-top: 15px;"></i>
      <i class="fa fa-apple" aria-hidden="true" style="font-size: 20px;margin-top: 15px; padding-left: 10px"></i>
    </div>
    <a class="col-sm-1 btnlog  " >
      Login

    </a>

  </div>



</div>

