<div style="margin-left: 160px;margin-right: 160px;">
  <div style="padding-top: 150px" ><h1 class="hero-title">Order from restaurants near you</h1></div>
  <div class="home-search">
    <div class="type-location-container" >
      <input class="type-location ng-empty ng-valid" type="text" name="location" placeholder="type delivery location">
      <div class="locate-me">
        <span class="locate-me-divider"></span>
        <span class="locate-me-icon"></span>
        <span class="locate-me-text">Locate me</span>

      </div>
      <div class="show-restaurants">
        <span>SHOW RESTAURANTS</span>
      </div>

    </div>


    <div class="we-deliver-in" style="margin-top: 80px">
      <span class="shade">WE DELIVER IN</span>
      <span>Bangalore, Delhi, Gurgaon, Chennai, Hyderabad, Kolkata, Mumbai & Pune</span>
    </div>

  </div>

</div>
