<div class="row col-sm-12" style="margin: 10px; border-bottom: 1px solid lightgrey; padding: 30px" >
  <div class="col-sm-2 col-sm-offset-3 text-center" style="opacity: 0.6;font-family: Arial,san-serif">
  <i class="fa fa-id-card-o fa-4x" ></i><br><br>

  pay via cash/card
</div>
  <div class="col-sm-2 text-center " style="opacity: 0.6">
    <i class="fa fa-bolt fa-4x" aria-hidden="true"></i><br><br>
    lightning fast delivery
  </div>
  <div class="col-sm-2 text-center" style="opacity: 0.6">
    <i class="fa fa-bell-slash-o fa-4x" aria-hidden="true"></i><br><br>
    no minimum order
  </div>
  </div>


